body {
 background-image: url(https://i.pinimg.com/736x/04/5e/28/045e28a17352e3040dd9c133c0dca475.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
  background: rgba(213, 204, 194, 0.8) !important;
  border-radius: 20px;
  padding: 2rem;
  max-width: 700px !important;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
